.projects {
	text-align: center;
	width: 1150px;
	margin: 0 auto;
}

.header {
	text-align: center;
	margin-left: 25%;
	margin-right: 25%;
}

#scatter {
	width: 700px;
	height: 500px;
	float: left;
}

#table {
	width: 400px;
	height: 425px;
	margin-top: 5%;
	margin-left: 700px;
}

#pfam-elm-table {
	width: 900px;
	height: 300px;
	margin-top: 5%;
	margin-left: 5%;
	font-size: 13px;
}