.x-table-axis path,
.x-table-axis line {
  fill: none;
  stroke: rgba(0, 0, 0, 0.1);
  shape-rendering: crispEdges;
}

.axisLine {
  fill: none;
  shape-rendering: crispEdges;
  stroke: rgba(0, 0, 0, 0.5);
  stroke-width: 2px;
}

.d3-tip-table {
  line-height: 1;
  font-weight: bold;
  padding: 12px;
  background: rgba(0, 0, 0, 0.8);
  color: #fff;
  border-radius: 2px;
}

/* Creates a small triangle extender for the tooltip */
.d3-tip-table:after {
  box-sizing: border-box;
  display: inline;
  font-size: 10px;
  width: 100%;
  line-height: 1;
  color: rgba(0, 0, 0, 0.8);
  content: "\25BC";
  position: absolute;
  text-align: center;
}

/* Style northward tooltips differently */
.d3-tip-table.n:after {
  margin: -1px 0 0 0;
  top: 100%;
  left: 0;
}

/*.table-scroll-2 {
	height: 300px;
	width: 1000px;
	overflow: scroll;
}

.cell0, .cell1, .cell2, .cell3, .cell4, .cell5, .cell6 {
	text-align: center;
}*/